/.vs/*
/FirstUwpPrismApp/bin/*
/FirstUwpPrismApp/obj/*
/FirstUwpApp/obj/*
/FirstUwpApp/bin/x86/*
/AppWithCommands/bin/*
/AppWithCommands/obj/*
/TestsForCommandsApp/bin/*
/TestsForCommandsApp/obj/*
/CameraImageProcessing/bin/*
/CameraImageProcessing/obj/*
/packages/*
/TestingWithMoq/bin/*
/TestingWithMoq/obj/*
/ExcelHelper/bin/*
/ExcelHelper/obj/*
/ExcelHelperTest/bin/*
/ExcelHelperTest/obj/*
/GradingRegistrationHelper/obj/*
/GradingRegistrationHelper/bin/*
/GradingRegistrationHelperTests/bin/*
/GradingRegistrationHelperTests/obj/*
/GradingRegistrationHelper/bin/*
/GradingRegistrationHelper/obj/*
